@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --surface: #FEF7FF;
  --on-surface: #1D1B20;
  --on-surface-variant: #49454F;
  --surface-container: #F3EDF7;
  --outline: #79747E;
  --outline-variant: #CAC4D0;
  --primary: #6750A4;
  --on-primary: #FFFFFF;
  --primary-container: #EADDFF;
  --on-primary-container: #4F378B;
  --secondary: #625B71;
  --on-secondary: #FFFFFF;
  --secondary-container: #E8DEF8;
  --on-secondary-container: #4A4458;
  --tertiary: #7D5260;
  --on-tertiary: #FFFFFF;
  --tertiary-container: #FFD8E4;
  --on-tertiary-container: #633B48;
}

.dark {
  --surface: #141218;
  --on-surface: #E6E0E9;
  --on-surface-variant: #CAC4D0;
  --surface-container: #211F26;
  --outline: #938F99;
  --outline-variant: #49454F;
  --primary: #D0BCFF;
  --on-primary: #381E72;
  --primary-container: #4F378B;
  --on-primary-container: #EADDFF;
  --secondary: #CCC2DC;
  --on-secondary: #332D41;
  --secondary-container: #4A4458;
  --on-secondary-container: #E8DEF8;
  --tertiary: #EFB8C8;
  --on-tertiary: #492532;
  --tertiary-container: #633B48;
  --on-tertiary-container: #FFD8E4;
}

@theme inline {
  --color-surface: var(--surface);
  --color-surface-ctnr: var(--surface-container);
  --color-on-surface: var(--on-surface);
  --color-on-surface-var: var(--on-surface-variant);
  --color-md-primary: var(--primary);
  --color-md-on-primary: var(--on-primary);
  --color-md-secondary: var(--secondary);
  --color-md-on-secondary: var(--on-secondary);
  --color-md-secondary-ctnr: var(--secondary-container);
  --color-md-on-secondary-ctnr: var(--on-secondary-container);
  --color-md-tertiary: var(--tertiary);
  --color-md-on-tertiary: var(--on-tertiary);
  --color-md-tertiary-ctnr: var(--tertiary-container);
  --color-md-on-tertiary-ctnr: var(--on-tertiary-container);
  --color-md-outline: var(--outline);
  --color-md-outline-var: var(--outline-variant);

  --font-sans: var(--font-roboto);
  --font-logo: var(--font-exo);
}

html, body {
  height: 100%;
  font-family: var(--font-sans), system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 2.5rem 4rem;
  color: var(--on-surface);
  background-color: var(--surface);
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}