@import "tailwindcss";

@theme {
  --background: oklch(98.5% 0 0);
  --foreground: oklch(27.8% 0.033 256.848);
}

.dark {
  --background: oklch(26.9% 0 0);
  --foreground: oklch(98.5% 0.002 247.839);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 2.5rem 2rem;
  min-height: 100vh;
  color: var(--foreground);
  background-color: var(--background);
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/
