@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(98.5% 0.002 247.839);
  --foreground: oklch(23% 0.01 303.71);
  --card-foreground: oklch(21% 0.034 264.665);
  --card-muted: oklch(0.493 0 0);
  --input-background: oklch(0.970 0 0);
  --purple-border: oklch(0.829 0.018 308.22);
  --purple-primary: oklch(0.496 0.131 293.71);
  --purple-primary-hover: oklch(0.496 0.131 293.71);
  --purple-text: oklch(0.398 0.017 303.72);
  --purple-icon-hover: oklch(0.311 0.011 308.06);
  --purple-icon-content: oklch(0.959 0.012 317.74);
  --purple-input-background: oklch(0.914 0.014 314.75);
  --purple-label-background: oklch(0.916 0.04 303.11);
  --green: oklch(0.6122 0.151 154.1);
}

.dark {
  --background: oklch(23% 0.01 303.71);
  --foreground: oklch(98.5% 0.002 247.839);
  --card: oklch(21% 0.034 264.665);
  --card-foreground: oklch(98.5% 0.002 247.839);
  --card-muted: oklch(0.493 0 0);
  --input-background: oklch(0.970 0 0);
  --purple-border: oklch(0.829 0.018 308.22);
  --purple-primary: oklch(0.496 0.131 293.71);
  --purple-primary-hover: oklch(0.496 0.131 293.71);
  --purple-text: oklch(0.398 0.017 303.72);
  --purple-icon-hover: oklch(0.311 0.011 308.06);
  --purple-icon-content: oklch(0.959 0.012 317.74);
  --purple-input-background: oklch(0.914 0.014 314.75);
  --purple-label-background: oklch(0.916 0.04 303.11);
  --green: oklch(0.6122 0.151 154.1);
}

@theme inline {
  /* Override TailwindCSS's purple colors */
  --color-purple-*: initial;
  --color-purple-50: var(--purple-icon-content); /* # e8def8 */
  --color-purple-100: var(--purple-icon-content); /* #f5eff7 */
  --color-purple-200: var(--purple-input-background); /* e6e0e9 */
  --color-purple-300: var(--purple-border); /* #cac4d0 */
  --color-purple-600: var(--purple-primary-hover); /* #6750a4 */
  --color-purple-700: var(--purple-primary);
  --color-purple-800: var(--purple-icon-hover); /* #322f35 */
  --color-purple-900: var(--purple-text); /* #49454f */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-muted: var(--card-muted);
  --color-input: var(--input-background);
  --color-success: var(--green);
  --font-sans: var(--font-roboto);
  --font-logo: var(--font-exo);
}

html, body {
  height: 100%;
  font-family: var(--font-sans), system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 2.5rem 4rem;
  color: var(--foreground);
  background-color: var(--background);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}